# Server Config
PORT=5000
JWT_SECRET=your_super_secret_key
GEMINI_API_KEY=your_gemini_api_key_here

# 1. AWS RDS MySQL Database Credentials
DB_HOST=supermarket-db.xxxxxx.us-east-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=your_rds_password
DB_NAME=supermarket_db
DB_PORT=3306

# 2. AWS Shared Credentials & Region
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

# 3. AWS S3 Storage Service
AWS_S3_BUCKET_NAME=supermarket-product-images

# 4. AWS SNS Notification Service
AWS_SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:SuperMarketOrderNotifications

# 5. AWS DynamoDB Service
AWS_DYNAMODB_CARTS_TABLE=SuperMarket_Carts
AWS_DYNAMODB_LOGS_TABLE=SuperMarket_Logs

# 6. AWS Lambda Service
AWS_LAMBDA_BG_WORKER=supermarket-order-processor
